body{
    height: 100vh;
    margin: 0%;
    border: 0%;
}
bg{
    background-image: url("b1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.bgcolor{
    background-image:linear-gradient(to right, #BFF098,#6FD6FF);
    padding-bottom:1.5%;
    padding-top: 1%;
}
h2{
    margin: 0%;
    font-size:100%;
    padding-top:2%;
    margin-left: 2%;
    display: inline-block;
}
.home{
    text-align: right;
    word-spacing:2.9ch;
    padding-right: 1%;
    margin-top:0%;
    font-size:85%;
    font-family:'Times New Roman', Times, serif;

    
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    text-decoration: underline;
    font-size: 92%;
    cursor: pointer;
}
a:visited{
    text-decoration:underline; 
}
h1{
    font-weight: bold;
    font-family: 'DM serif display';
    letter-spacing:3px;
    font-size:119%;
    margin-top:2%;
    margin-bottom:2%;
    text-align: center;
}
p{    
    text-align: justify;
    word-spacing: 1.5;
    font-size:90%;
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
    font-family:'poppins';
    font:bolder;
    margin-top:4%;
    margin-left: 12%;
    margin-right:12%;  
}
.apk{
    text-align: center;
    font-size:80%;
    margin-top:5%;
    padding-bottom: 5%;

}